#sidebar{
    height: 100vh;
    background-color: grey;
    opacity: 0.9;
    color: white;
    display:flex;
    flex-direction: column ;
    align-content: center;
    z-index: 200;
    overflow-x:hidden;
    transition: 0.7s ;
}
.MuiButtonBase-root MuiButton-root MuiButton-text{
    color: black;
}

#menuButton{
    width: 20%;
}
#MenuIcon{
    width: 50px;
    height: 50px;
    right: 10px;
    color: white;
}
#ArrowForwardIcon{
    width: 50px;
    height: 50px;
    right: 10px; 
}